@use "../../../styles/lib" as l;

.try-it-now {
  background-color: #7724aa;
  border: none;
  padding: .64rem .92rem;
  border-radius: 10px;
  font-weight: 600;
  transition: all l.$btn-color-trans;
  position: relative;

  & > span {
    filter: drop-shadow(0 0 5px rgb(white, 0.33));
  }

  &::after {
    content: '';
    background: l.icon('dropdown');
    filter: invert(100%);
    display: inline-block;
    @include l.size(1rem);
    transform: translateY(20%);
  }

  &:hover, &:focus-within {
    background-color: #4a148c;

    & > span {
      filter: none;
    }
  }
}
