$background: white;
$d-black: rgb(10, 10, 10);
$m-black: rgb(32, 41, 58);
$l-black: rgb(55, 55, 55);
$accent-main: $d-black;
$border-gray: rgb(206, 208, 210);
$secondary-txt-gray: rgb(73, 74, 77);
$very-light-gray: rgb(179, 183, 186);

$btn-color-trans: .25s cubic-bezier(0.4, 0, 0.2, 1);
