@use "src/styles/lib" as l;

.em {
  margin-block: .5rem;
  display: inline-block;
  color: l.$very-light-gray;
  font-size: 1.05rem;
}

.h2 {
  font-size: 20px;
  white-space: pre;
  margin-bottom: -.25rem;
}

.btns-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}
