@use "../../../styles/lib" as l;

.background {
  position: absolute;
    top: 0;
    left: 0;
  @include l.size(100%);
  aspect-ratio: 2 / 1;
  border-radius: 20px;
  object-fit: cover;
}

.card {
  aspect-ratio: 2 / 1;
  position: relative;
}

.overlay {
  backdrop-filter: blur(3px);
  @include l.size(100%);
  background: linear-gradient(to bottom, l.gray(0, .75), l.gray(0, 0.5), l.gray(0, .75));
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  box-shadow: 0 3px 12px 4px l.gray(0, 0.25);
}

.margin-top {
  margin-top: 1rem;
}

.buttons {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 16px;

  :first-child {
    margin-right: 1rem;
  }
}

.learn-more {
  @include l.reset-button;
  transition: all l.$btn-color-trans;
  font-weight: 500;

  &:hover {
    filter: drop-shadow(0 0 10px white);
  }
}

.try-it-now {
  background-color: #7724AA;
  border: none;
  padding: .64rem .92rem;
  border-radius: 10px;
  font-weight: 600;
  transition: background-color l.$btn-color-trans;

  &::after {
    content: '';
    background: l.icon('dropdown');
    filter: invert(100%);
    display: inline-block;
    @include l.size(1rem);
    margin-left: .5rem;
    transform: translateY(20%);
  }

  &:hover {
    background-color: #5a249b;
  }
}

.stats {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  @include l.flex-center;
  align-items: flex-end;
  gap: .75rem;

  & > div {
    @include l.flex-center;
    align-items: flex-start;
    gap: .75rem;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
  }
}

@mixin mk-stat($name, $icon, $bg-size: initial) {
  .stat--#{$name} {
    display: flex;
    align-items: center;
    gap: .375rem;

    &::before {
      content: '';
      background: l.icon($icon);
      display: inline-block;
      @include l.size(16px);
      filter: invert(100%);
      background-size: $bg-size;
    }
  }
}

@include mk-stat('difficulty', 'person');
@include mk-stat('time', 'clock', 100%);

@include mk-stat('likes', 'likes');
@include mk-stat('views', 'views');

@include mk-stat('stars', 'stars');
@include mk-stat('forks', 'forks');
