@use "src/styles/lib" as l;

.form {
  @include l.flex-center;
  flex-flow: row wrap;
  gap: 10px
}

.search-container {
  @include l.flex-center;
  gap: 10px;
  flex: 1;
  border: 1px l.$border-gray solid;
  padding: .75rem;
  border-radius: 10px;

  @include l.on-interaction {
    border-color: l.$d-black;
  }

  &:focus-within {
    outline: 1px l.$d-black solid;
  }
}

.search-icon {
  @include l.size(1rem);
  display: block;
  background: l.icon("magnifying-glass");
}

.search-input {
  width: 100%;
  font-size: 20px;
  background: none;
  border: none;
  outline: none;
  color: l.$d-black;

  &::placeholder {
    color: l.$very-light-gray;
  }
}

.button {
  background-color: l.$accent-main;
  color: l.$background;
  border: none;
  font-weight: 600;
  padding-inline: 1.25rem;
  font-size: 17px;;
  align-self: stretch;
  border-radius: 10px;
  transition: opacity l.$btn-color-trans;

  &:hover {
    opacity: .7;
  }
}
