@use "src/styles/lib" as l;

//.header {
//  position: sticky;
//  top: 0;
//  z-index: 1;
//  width: 100vw;
//  padding: .5rem 1rem;
//  margin-bottom: 2rem;
//
//  &::before {
//    content: "";
//    position: absolute;
//    top: 0;
//    left: calc(-1 * (100vw - min(90vw, 80rem)) / 2);
//    width: 100%;
//    height: 100%;
//    background-color: rgb(white, .8);
//    backdrop-filter: blur(16px);
//    z-index: -1;
//  }
//}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: .5rem;
}

.h2 {
  font-size: 20px;
  white-space: pre;
}
